@charset "utf-8";



.container{ 
	width:1226px;
	height:460px;
	margin:8px auto;
	background-color:#ccc;
	
  
}

.meun
{
	 width:234px;
     height:460px;
	border:0px solid #000;
	padding:0px;
    list-style-type: none;
    background:rgb(0,0,0,0.6);
    color:#fff;
	
    
	
}
.meun li{
	 padding:0px;
	 height:42px;
	 border:0px solid #000;
	 line-height:42px;
	 text-align:center;


}

.meun li:hover {
	background-color:#ff6700;
	

}
.meun li:hover .item-1{
	display:block;
	

}

.item{
	width:992px;
	height:460px;
	background-color:#fff;
	margin-left:238px;
	
}

.item-1{
    display:none;
	margin-top:-42px;
}

.item-meun
{
    width:992px;
	height:460px;
	list-style:none;
    margin-left:10px;
    padding: 0px;
   
}
.item-meun li
{
	width:40px; 
	height:43px;
	padding:0px;
	float:left;
}

.item-meun li img{
	width:60px; 
	height:80px;
	float:left;
	
}